table {
  border-collapse: collapse;
  border: 1px solid #d0d0d0; }

td, th {
  border: 1px solid #d0d0d0; }

th {
  padding: 10px 10px 10px 0;
  text-align: left; }
  th .form.form-inline.col-sm-6 {
    text-align: right; }

.information {
  display: flex; }
  .information span {
    margin-top: 7px; }

td:first-child, th:first-child {
  width: 1%;
  white-space: nowrap; }

.nav .top-bar {
  background-color: #ff9a32;
  color: white;
  text-align: center;
  padding: 5px; }

.nav .banner {
  color: #ff9a32;
  font-size: 50px; }

.btn {
  outline: none; }

.btn-red {
  background-color: #d9534f;
  color: white; }

.btn-red:hover {
  background-color: #ba433f;
  color: white; }

.btn-orange {
  background-color: #ff9a32;
  color: white; }

.btn-orange:hover {
  background-color: #da842b;
  color: white; }

.main .row:first-child {
  display: flex;
  align-items: flex-end; }

.cart h2:first-child {
  display: flex;
  justify-content: space-between; }

.cart table td, .cart table th {
  width: 1%;
  white-space: nowrap;
  text-align: center;
  padding: 10px; }
  .cart table td:first-child, .cart table th:first-child, .cart table td:last-child, .cart table th:last-child {
    text-align: left; }

.cart table th {
  text-align: left; }

.cart .checkout-button {
  float: right;
  margin-top: 20px; }
