<form class="form" novalidate ng-submit="vm.login()">
  <h1>Login</h1>
  <ul ng-if="vm.errors">
    <li ng-repeat="error in vm.errors" ng-bind="error"></li>
  </ul>
  <div class="form-group">
    <label for="username">Username</label>
    <input ng-model="vm.user.username" type="text" class="form-control" id="username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="vm.user.password" type="password" class="form-control" id="password" placeholder="Password" required>
  </div>
  <input class="btn btn-primary" type="submit" name="name" value="Log In!">
</form>
