body {
  padding: 20px;
  box-sizing: border-box;
}

.dice {
  display: flex;
}
.die {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 50px;
  width: 128px;
  height: 128px;

  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
