<div class="teas">
  <table>
    <thead>
      <tr>
        <th>
          Tea
        </th>
        <th>
          Information
          <div class="form form-inline">
            Sort By Price:
            <div class="input-group">
              <select ng-model="filters.price.name" class="form-control">
                <option value=""></option>
                <option value='-price'>Highest</option>
                <option value='price'>Lowest</option>
              </select>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tea in teas |
                     orderBy:filters.price.name:filters.price.reverse |
                     filter:{name: filters.search} |
                     byCategory:filters.category
                     ">
        <td>
          <img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}" />
        </td>
        <td>
          <div class="col-sm-8">
            <h3 ng-bind="tea.name"></h3>
            <p>
              <strong>Price: </strong><span ng-bind="tea.price | toUSD | currency"></span>
            </p>
            <p>
              <strong>Caffeine Scale: </strong><span ng-bind="tea.caffeineScale"></span>
            </p>
            <p>
              <strong>Ingredients: </strong><span ng-bind="tea.ingredients"></span>
            </p>
            <p>
              <strong>Rating: </strong><span ng-bind="tea.rating"></span>
            </p>
            <p>
              <strong>In Stock: </strong><span ng-bind="tea.inStock | yesNo"></span>
            </p>
            <p>
              <strong>In Stock: </strong><span ng-bind="tea.inStock | yesNo"></span>
            </p>
            <p>
              <strong>Categories: </strong>
              <ul>
                <li ng-repeat="category in tea.categories" ng-bind="category"></li>
              </ul>
            </p>
          </div>
          <div class="col-sm-4">

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
