<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
    <title></title>
    <base href="/" target="_blank" />
  </head>
  <body>
    <div class="container">
      <hr>
      <h1>Data Binding</h1>
      <hr>
      <input type="text" placeholder="What is your name?" name="name" ng-model="name" ng-init="name='BoJack'">
      <h3>My name is: <span ng-bind="name"></span></h3>
      <hr>
      <label for='pets'>I love:</label>
      <select class="u" id='pets' ng-model='pets'>
        <option value="Dogs">Dogs</option>
        <option value="Cats">Cats</option>
        <option value="Dogs &amp; Cats">Dogs &amp; Cats</option>
        <option value="Neither">Neither</option>
      </select>
      <h3>I love <span ng-bind="pets"></span></h3>
    </div>
  </body>
</html>
