<div>
<article ng-repeat='post in vm.posts |
                    filter:filters.search |
                    orderBy:filters.sort:filters.direction'>
  <section class='unselectabel row'>

    <div class="col-sm-3 .center-cropped">
      <img class='' ng-src='{{post.image_url}}' alt=""/>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-10">
          <h4 ng-bind='post.title'></h4>
        </div>
        <div class="col-sm-2 voting">
          <i ng-click='vm.downVote(post)' class='fa fa-angle-down'></i>
          <span ng-class="{ 'has-error': post.votes < 0,
                            'has-success': post.votes > 0 }"
                ng-bind='post.votes'></span>
          <i ng-click='vm.upVote(post)' class='fa fa-angle-up'></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p ng-bind="post.description"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
          <i class="author">By:
            <span ng-bind="post.author.username"></span>
          </i>
        </div>
      </div>
      <i class='fa fa-calendar'></i>
      <time title="{{ post.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">
        {{ post.created_at | amCalendar }}
      </time> |

      <rc-comments post='post' add-comment='vm.createComment'></rc-comments>

    </div>
  </section>
</article>
</div>
