<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">

    <style media="screen">
      .score-container {
        background-color: rgb(34, 203, 219);
        text-align: center;
        color: white;
        padding: 50px;
        height: 260px;
      }

      .score {
        font-size: 80px;
      }

      .winner {
        background-color: rgb(61, 177, 91);
      }

      .loser {
        background-color: rgb(201, 85, 85);
      }

      .row {
        margin-bottom: 20px;
        text-align: center;
      }

      .divbox {
        width: 400px;
        height: 400px;
        border-style: solid;
        border-width: 6px;
      }

    </style>

    <script type="text/javascript">
      var app = angular.module('myapp', []);

      app.controller('RandomNumberController', function($scope){
        $scope.view = {};
        $scope.view.number = 5;
        $scope.pickRandomNumber = function(){
          $scope.view.number = Math.floor(Math.random() * 10) + 1;
        }
      })

      app.controller('WordReverserController', function($scope){
        $scope.reverseWord = function(){
          $scope.view.word = $scope.view.word.split("").reverse().join("")
        }
      })

      app.controller('PingPongScoreController', function($scope){
        $scope.view = {};
        $scope.view.serving = true;

        $scope.view.player1 = {};
        $scope.view.player2 = {};

        $scope.view.player1.score = 0;
        $scope.view.player2.score = 0;

        $scope.view.totalScore = 0;

        $scope.incrementScore = function(player){
          if($scope.view.player1.score < 11 &&
             $scope.view.player2.score < 11){
               player.score++;
               $scope.view.totalScore++;
               if($scope.view.totalScore % 2 === 0) $scope.view.serving = !$scope.view.serving;
             }
        }

        $scope.reset = function() {
          $scope.view.serving = true;

          $scope.view.player1.score = 0;
          $scope.view.player2.score = 0;

          $scope.view.totalScore = 0;
        }
      })

      app.controller('MouseEnterController', function($scope, $timeout){
        $scope.view = {};
        $scope.view.enterCount=0;
        $scope.view.currentColor = '#ffffff';
        var history = [];
        var count = 0;
        var replaying = false;

        $scope.randomColor = function() {
          var x = Math.round(0xffffff * Math.random()).toString(16);
          var y = (6-x.length);
          var z = "000000";
          var z1 = z.substring(0,y);
          var color = "#" + z1 + x;
          history.push(color);
          $scope.view.currentColor = color;
          return color;
        }

        $scope.replay = function(){

          var displayPrevColor = function() {
            $scope.view.currentColor = history[count];
            if(count === history.length - 1){
              count = 0;
              return replaying = false;
            }
            count++;
            return $timeout(displayPrevColor, 500);
          }

          if(!replaying){
            replaying = true;
            // This timeout starts the timeout loop
            displayPrevColor()
          }

          if(timeoutPromActive){
            console.log('hello');
            return;
          }
        }
      })

      app.controller('ContactListController', function($scope){
        $scope.view = {};
        $scope.view.contacts = [];
        $scope.view.contactForm = null;

        $scope.submitContact = function(){

          if($scope.view.contactForm)$scope.view.contacts.push($scope.view.contactForm);
          $scope.view.contactForm = null;
        }
      })
    </script>

    <title>Exercise 08</title>

  </head>
  <body>
    <div class="container">
      <div ng-controller="RandomNumberController">
        <h3>The number is: <span ng-bind="view.number"></span></h3>
        <button ng-click="pickRandomNumber()">Pick Random Number</button>
      </div>

      <hr>

      <div ng-controller="WordReverserController">
        <h3>Word Reverser</h3>
        <input type='text' ng-model="view.word">
        <button ng-click="reverseWord()">Reverse Word</button>
      </div>

      <hr>

      <div ng-controller="PingPongScoreController">
        <h3>Ping Pong Score Board</h3>
        <div class="row">
          <div ng-click="incrementScore(view.player1)" class="six columns score-container" ng-class="{'winner': view.player1.score === 11, 'loser': view.player2.score === 11}">
            <span class="score" ng-bind="view.player1.score"></span>
            <p ng-show="view.serving">
              serving
            </p>
          </div>
          <div ng-click="incrementScore(view.player2)" class="six columns score-container" ng-class="{'winner': view.player2.score === 11, 'loser': view.player1.score === 11}">
            <span class="score" ng-bind="view.player2.score"></span>
            <p ng-hide="view.serving">
              serving
            </p>
          </div>
        </div>
        <div class="row">
          <button ng-click="reset()">Reset</button>
        </div>
      </div>

      <hr>

      <div ng-controller="MouseEnterController">
        <h3>Mouse Enter Demo</h3>
        <h5>The div was entered <span ng-bind="view.enterCount"></span> times.</h5>
        <div class="divbox" ng-mouseenter="view.enterCount = view.enterCount + 1; randomColor()" ng-style="{'background-color': view.currentColor}"></div>
        <button ng-click="replay()">Replay</button>
      </div>

      <hr>

      <div ng-controller="ContactListController">
        <h3>ng-submit Demo</h3>
        <form name='contactForm' ng-submit='submitContact()'>

          <label for="name">Name: </label>
          <input id="name" type="text" name="name" ng-model="view.contactForm.name">

          <label for="email">Email: </label>
          <input id="email" type="email" name="email" ng-model="view.contactForm.email" >

          <label for="phone">Phone: </label>
          <input id="city" type="text" name="city"  ng-model="view.contactForm.phone">

          <input type="submit" value="Submit">
        </form>
        <label for="search">Search by name:</label>
        <input id="search" type="text" placeholder="Search By Name" ng-model="view.search">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Phone
            </th>
          </tr>
          <tr ng-repeat='contact in view.contacts | filter: view.search'>
            <td ng-bind='contact.name'></td>
            <td ng-bind='contact.email'></td>
            <td ng-bind='contact.phone'></td>
          </tr>
        </table>
      </div>


      </div>

    </div>


  </body>
<html>
