<div class="cart">
  <h2><span>My Shopping Bag</span><span>Total: <span ng-bind="cart.total | currency"></span></span></h2>
  <table>
    <thead>
      <tr>
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th>
          SubTotal
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tea in cart">
        <td>
          <h3 ng-bind="tea.name"></h3>
          <img ng-src="{{tea.imageUrl}}" alt="{{tea.name}}" />
          <p>
            <strong>Caffeine Scale: </strong><span ng-bind="tea.caffeineScale"></span>
          </p>
          <p>
            <strong>Ingredients: </strong><span ng-bind="tea.ingredients"></span>
          </p>
          <p>
            <strong>Rating: </strong><span ng-bind="tea.rating"></span>
          </p>
        </td>
        <td>
          <span ng-if="!vm.editing" ng-bind="tea.quantity"></span>
          <input ng-if="vm.editing" ng-model="vm.quantity" type='number'/>
        </td>
        <td>
          <span ng-bind="tea.total | currency"></span>
        </td>
        <td>
          <a ng-if="!vm.editing" ng-click="vm.editing = !vm.editing" class="btn btn-orange">Edit</a>
          <a ng-if="vm.editing" ng-click="update(tea._id, vm.quantity); vm.editing = !vm.editing" class="btn btn-orange">Save</a>
          <a ng-click="remove(tea._id)" class="btn btn-red">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a ng-click="checkout()" class='btn btn-primary checkout-button'>Checkout</a>
</div>
