<!DOCTYPE html>
<html ng-app = "firstApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title" charset="utf-8">
    <title></title>

    <script type="text/javascript">
      var app = angular.module("firstApp", [])
      app.controller("MyFirstController", function($scope){
        $scope.name = "Severus Snape";
      });

      app.controller("ExercisesController", function($scope){
        $scope.favColor = 'blue';
        $scope.secondsInACentury = 100 * 52 * 7 * 24 * 60 * 60;
        $scope.rightNow = new Date();
      })

      app.controller("MadLibController", function($scope){
        $scope.data = {};
        $scope.funcs = {};
        $scope.data.showing = false;

        $scope.funcs.toggleMadLib = function(){
          $scope.data.showing = !$scope.data.showing;
        }

        $scope.funcs.resetMadLib = function(){
          $scope.data = {};
        }
      })
    </script>
  </head>
  <body>
    <div class="container">
      <div ng-controller="MyFirstController">
        <h1>My name is: {{name}}</h1>
        <input type="text" ng-model="name" placeholder="What is your name.">
      </div>

      <hr>

      <h3>Exercises</h3>
      <div ng-controller="ExercisesController">
        <h4>My favorite color is: {{favColor}}</h4>
        <h4>There are - {{secondsInACentury}} - seconds in a century.</h4>
        <h4>Today's date is <span ng-bind="rightNow | date:'fullDate'"></span></h4>
      </div>

      <hr>

      <div ng-controller="MadLibController">

        <h4>Mad Libs</h4>

        <h4>Please fill out the following!</h4>

        <label for="boys-name">Boy's Name</label>
        <input class="u-full-width" id="boys-name" type="text" name="boysName" placeholder="Enter a boy's name ..." ng-model="data.boysName">

        <label for="adjective">Adjective</label>
        <input class="u-full-width" id="adjective" type="text" name="adjective" placeholder="Enter an adjective ..." ng-model="data.adjective">

        <label for="plural-noun-1">Plural Noun</label>
        <input class="u-full-width" id="plural-noun-1" type="text" name="pluralNoun1" placeholder="Enter a plural noun ..." ng-model="data.pluralNoun1">

        <label for="plural-noun-2">Plural Noun</label>
        <input class="u-full-width" id="plural-noun-2" type="text" name="pluralNoun2" placeholder="Enter a plural noun ..." ng-model="data.pluralNoun2">

        <label for="insect">An insect, plural</label>
        <input class="u-full-width" id="insect" type="text" name="insect" placeholder="Enter an insect, plural ..." ng-model="data.insect">

        <label for="plural-noun-3">Plural Noun</label>
        <input class="u-full-width" id="plural-noun-3" type="text" name="pluralNoun3" placeholder="Enter a plural noun ..." ng-model="data.pluralNoun3">

        <label for="verb">A verb ending in "s"</label>
        <input class="u-full-width" id="verb" type="text" name="verb" placeholder="Enter a verb ending in 's' ..." ng-model="data.verb">

        <input ng-click="funcs.toggleMadLib()" type="button" class="button primary" name="name" value="Generate!">

        <div ng-show="data.showing">
          <h3>I'm in love with <span ng-bind='data.boysName | uppercase'></span>. He's so <span ng-bind="data.adjective | uppercase"></span>! He has big flat <span ng-bind="data.pluralNoun1 | uppercase"></span>, and when our <span ng-bind="data.pluralNoun2 | uppercase"></span> meet, I get <span ng-bind="data.insect | uppercase"></span> in my stomach. I've fallen for him like a ton of <span ng-bind="data.pluralNoun3 | uppercase"></span>, and he <span ng-bind="data.verb | uppercase"></span> for me, too. But I think he's got another girlfriend. What should I do?</h3>

          <button ng-click="funcs.resetMadLib()" name="button">Reset</button>
        </div>
      </div>
    </div>
  </body>
</html>
