<nav class='row'>
  <h1>Movie Search...</h1>
  <form novalidate ng-submit="search()">
      <label for="">Search for a movie...</label>
      <input ng-model="movieForm.searchTerm" type="text" class="form-control" placeholder="Search">
      <select ng-model='movieForm.mediaType'>
        <option value="all">All</option>
        <option value="movie">Movie</option>
        <option value="series">Series</option>
        <option value="episode">Episode</option>
      </select>
    <input type="submit" class='button button-primary'>
  </form>
</nav>
