<!DOCTYPE html>
<html ng-app='exercise09'>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>Exercise 09</title>
    <script type="text/javascript">
      var app = angular.module('exercise09', ['ngMessages']);
      app.controller('validationController', function($scope){
        $scope.view = {};
        $scope.view.users = [];
        $scope.submitForm = function() {
          if ($scope.firstForm.$valid){
            $scope.view.users.push($scope.form);
            $scope.form = {};
            $scope.firstForm.$setPristine();
          }
        }
      })
    </script>
    <style media="screen">
      .has-success {
        color: rgb(58, 189, 79);
      }
      .has-error {
        color: rgb(191, 67, 67);
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="validationController">
      <h3>Here are our users</h3>
      <h4 ng-bind="view.users | json"></h4>
      <form novalidate name="firstForm" ng-submit="submitForm()">
        <div class="form-group"
             ng-class="{'has-error': firstForm.username.$invalid && firstForm.username.$dirty,
                        'has-success': firstForm.username.$valid}">

          <label for="username">Username: </label>
          <input class="form-control"
                 type="text"
                 id="username"
                 name="username"
                 ng-minlength=3
                 ng-maxlength=12
                 maxlength=12
                 required
                 ng-model="form.username" >
          <div ng-messages="firstForm.username.$error"
               ng-show='firstForm.username.$dirty'>
            <p ng-message='minlength'>
              Enter a username that is longer than 3 characters.
            </p>
            <p ng-message='maxlength'>
              Enter a username that is shorter than 12 characters.
            </p>
            <p ng-message='required'>
              Enter a username.
            </p>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': firstForm.password.$invalid && firstForm.password.$dirty,
                        'has-success': firstForm.password.$valid}">
          <label for="password">Password: </label>
          <input class="form-control"
                 type="password"
                 id="password"
                 name="password"
                 required
                 ng-minlength=3
                 ng-maxlength=12
                 ng-model="form.password">
          <div ng-messages="firstForm.password.$error"
               ng-show='firstForm.password.$invalid && firstForm.password.$dirty'>
            <p ng-message='minlength'>
              Enter a password that is longer than 3 characters.
            </p>
            <p ng-message='maxlength'>
              Enter a password that is shorter than 12 characters.
            </p>
            <p ng-message='required'>
              Enter a password.
            </p>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': firstForm.email.$invalid && firstForm.email.$dirty,
                        'has-success': firstForm.email.$valid}">
          <label for="email">Email: </label>
          <input class="form-control"
                 type="email"
                 id="email"
                 name='email'
                 ng-pattern="/.+@.+\..+/i"
                 required
                 ng-model="form.email">
          <div ng-messages="firstForm.email.$error"
               ng-show='firstForm.email.$invalid && firstForm.email.$dirty'>
            <p ng-message='pattern'>
              Enter a valid email matching the form person@example.com
            </p>
            <p ng-message='required'>
              Enter an email.
            </p>
          </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': firstForm.zip.$invalid && firstForm.zip.$dirty,
                        'has-success': firstForm.zip.$valid}">
          <label for="zip">Zip: </label>
          <input class="form-control"
                 type=“text”
                 id="zip"
                 name="zip"
                 maxlength="5"
                 ng-minlength=5
                 pattern='[0-9]*'
                 required
                 ng-model="form.zip">

          <div ng-messages="firstForm.zip.$error"
               ng-show='firstForm.zip.$dirty'>
            <p ng-message='pattern'>
              Please use only numbers in the zipcode.
            </p>
            <p ng-message='minlength'>
              Enter a 5 digit zipcode.
            </p>
            <p ng-message='maxlength'>
              Enter a 5 digit zipcode.
            </p>
            <p ng-message='required'>
              Enter a zipcode.
            </p>
          </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Click me!" ng-disabled='firstForm.$invalid'>
      </form>
    </div>
  </body>
</html>
