<form ng-show="postForm.showAddPostForm" class="add-post" name='addPostForm' ng-submit="addPost()" novalidate>
  <div class="form-group" ng-class="{'has-error': addPostForm.title.$invalid && addPostForm.title.$dirty,
                  'has-success': addPostForm.title.$valid}">
    <input type="text" class="form-control" id="title" placeholder="Post Title" name="title" required ng-model="vm.postsForm.title">
    <div ng-messages='addPostForm.title.$error' ng-show='addPostForm.title.$dirty'>
      <p ng-message='required'>
        Please enter a title.
      </p>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': addPostForm.author.$invalid && addPostForm.author.$dirty,
                  'has-success': addPostForm.author.$valid}">
    <input type="text" class="form-control" id="author" placeholder="Author" name="author" required ng-model='vm.postsForm.author'>
    <div ng-messages='addPostForm.author.$error' ng-show='addPostForm.author.$dirty'>
      <p ng-message='required'>
        Please enter an author.
      </p>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': addPostForm.image.$invalid && addPostForm.image.$dirty,
                  'has-success': addPostForm.image.$valid}">
    <input type="text" class="form-control" id="image" placeholder="Image" name="image" required ng-model="vm.postsForm.image">
    <div ng-messages='addPostForm.image.$error' ng-show='addPostForm.image.$dirty'>
      <p ng-message='required'>
        Please enter an image.
      </p>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': addPostForm.description.$invalid && addPostForm.description.$dirty,
                  'has-success': addPostForm.description.$valid}">
    <textarea class="form-control" id="description" placeholder="Description" name="description" required ng-model="vm.postsForm.description"></textarea>
    <div ng-messages='addPostForm.description.$error' ng-show='addPostForm.description.$dirty'>
      <p ng-message='required'>
        Please enter a description.
      </p>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" ng-disabled="addPostForm.$invalid" value="Add Post">
</form>
