<span class="comments-container">
  <span ng-if='user'>
    <span ng-click="showComments = !showComments" class='show-comments'>
      <i class='fa fa-comment-o'></i>
      <span ng-bind='post.comments.length'></span>
      <ng-pluralize count="post.comments.length" when="{1: 'comment',
      'other': 'comments'}">
    </ng-pluralize>
  </span> |

  <span class='show-add-comments' ng-click="myState.showAddComments = !myState.showAddComments"><i class='fa fa-pencil'></i> comment</span>

  <div class="row add-comments" ng-show="myState.showAddComments">
    <form class='form-inline'  class="" name='addCommentForm' ng-submit="vm.createComment(post, comment, this)" novalidate>
      <div class="form-group" ng-class="{ 'has-error': addCommentForm.comment.$invalid && addCommentForm.comment.$dirty,
      'has-success': addCommentForm.comment.$valid}">
        <input type="text" class="form-control" id="comment" placeholder="Enter Comment" name="comment" required ng-model="commentsForm.text">
        <div ng-messages='addCommentForm.comment.$error' ng-show='addCommentForm.comment.$dirty'>
          <p ng-message='required'>
            Please enter a comment.
          </p>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" ng-disabled="addCommentForm.$invalid" value="Add Comment">
    </form>
  </div>
  <div ng-show='showComments' class="comments">
    <div class="row comment" ng-repeat="comment in post.comments">
      <div class="col-sm-2">
        <strong ng-bind="comment.author.username"></strong>:
      </div>
      <div class="col-sm-5">
        <span ng-bind="comment.text"></span>
      </div>
      <div class="col-sm-offset-1 col-sm-3">
        <time title="{{ comment.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">
          {{ comment.created_at | amCalendar }}
        </time>
      </div>
      <div class="del-col del-comment col-sm-1">
        <i ng-if="post.deleteable" ng-click="vm.removeComment(post, comment)" class="fa fa-close"></i>
      </div>
    </div>
  </div>
</span>
  <strong ng-if="!user"><a ui-sref="login">Log in to comment</a></strong>
</span>
