<div class="single-movie">
  <div class="single-movie-title">
    <h4><span ng-bind="movie.Title"></span>:</h4> <h5 class='year'><span ng-bind="movie.Year"></span></h5>
  </div>
  <hr>
  <div class="row">

    <img class="four columns" ng-src="{{movie.Poster}}" alt="" />
    <div class="eight columns">
      <h4>Details...</h4>
      <p><strong>Runtime: </strong><span ng-bind="movie.Runtime"></span></p>
      <p><strong>Director: </strong><span ng-bind="movie.Director"></span></p>
      <p><strong>Genre: </strong><span ng-bind="movie.Genre"></span></p>
      <p><strong>Actors: </strong><span ng-bind="movie.Actors"></span></p>
      <p><strong>Plot: </strong><span ng-bind="movie.Plot"></span></p>
      <p><strong>Awards: </strong><span ng-bind="movie.Awards"></span></p>
      <p><strong>Rating: </strong><span ng-bind="movie.Rating"></span></p>
      <p><strong>Plot: </strong><span ng-bind="movie.Plot"></span></p>
    </div>
  </div>
</div>
